<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Editing Book</h1>
      <%= form_with model: @book do |f| %>
      <h6>Title</h6>
        <%= f.text_field :title %>

      <h6>Opnion</h6>
        <%= f.text_area :body %>
        <%= f.submit 'Update Book' %>
      <% end %>
      <%= link_to "Show", book_path(@book) %>
      <%= link_to "Back", books_path %>
    </div>
  </div>
</div>