<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>Users info</h2>
      <%= image_tag @user.get_profile_image(100,100) %>
      <table class="table">
        <tbody>
          <tr></tr>
          <tr>
          <th>name</th>  <th><%= @user.name %></th>  </tr>
          <tr>
          <th>introduction</th>  <th></th>
          </tr>
        </tbody>
    </table>
        <%= render 'list', book: @newbook, user: @user %>
     </div>

    <div class="col-md-8 ofset-md-1">
      <h2>Book dental</h2>
      <table class="table">
        <tbody>
          <tr>
            <td><%= image_tag @book.user.get_profile_image(100, 100) %></td>  <td><%= @book.title %></td>  <td><%= @book.body %></td>
            <td class="btn btm-sm btn-success">
              <%= link_to "Edit", edit_book_path(@book) %>
            </td>
            <td class="btn btm-sm btn-danger">
              <%= link_to "Destroy", book_path(@book), method: :delete,"data-confirm"=>"本当に消しますか？" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>