<!DOCTYPE html>

<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/a2662eb78a.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
          <span>
            <%= link_to "Bookers", root_path, class: "navbar-brand" %>
          </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                  aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggle-icon"></span>
          </button>
          <div class="navbar-collapse collapse show" id="navbarNavDropdown" style>
            <ul class="navbar-nav ml-auto">
              <a class="nav-link text-light" href="/">
               <i class="fa-solid fa-house"></i>Home</a>

              <% if user_signed_in? %>
              <li>
                <a class="nav-link text-light" href="/users">
                  <i class="fa-solid fa-users"></i>Users</a>
              </li>

              <li>
                <a class="nav-link text-light" href="/books">
                  <i class="fa-solid fa-book-open"></i>Books</a>
              </li>

              <li>
                <a class="nav-link text-light" href="/users/sign_out">
                <i class="fa-solid fa-right-from-bracket"></i>Log_out</a>
              </li>
             <% else %>
              <li>
                <a class="nav-link text-light" href="/home/about">
                <i class="fa-solid fa-link"></i>about</a>
              </li>

              <li>
                <a class="nav-link text-light" href="/users/sign_up">
                <i class="fa-solid fa-user-plus"></i>Sign_up</a>
              </li>

              <li>
                <a class="nav-link text-light" href="/users/sign_in">
                <i class="fa-solid fa-right-to-bracket"></i>Log_in</a>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>

  <footer>
    <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>
 </body>
</html>
